Client {
  Name = {{ inventory_hostname }}
  Maximum Concurrent Jobs = {{ client_maximum_concurrent_jobs }}
  Maximum Bandwidth Per Job = {{ client_maximum_bandwidth_per_job }}

  # remove comment from "Plugin Directory" to load plugins from specified directory.
  # if "Plugin Names" is defined, only the specified plugins will be loaded,
  # otherwise all storage plugins (*-fd.so) from the "Plugin Directory".
  #
  Plugin Directory = {{ __bareos_plugins_location }}
  # Plugin Names = ""

  # if compatible is set to yes, we are compatible with bacula
  # if set to no, new bareos features are enabled which is the default
  # compatible = yes
}
