FileSet {
  Name = "{{ item.name }}"
  {% if item.options.plugins is defined %}Include {
  {% for plugin in item.options.plugins %}
  Include {
            Plugin = "{{ plugin.plugin }}"
                     "module_path={{ plugin.module_path }}"
                     "module_name={{ plugin.module_name }}"
  {% endfor %}
  }
  {% endif %}
  {% if item.options.backed_up_directories is defined %}{% for backup_dir in item.options.backed_up_directories %}
    {% if 'Plugin' in backup_dir %}{{ backup_dir }}
    {% else %}File = {{ backup_dir }}
    {% endif %}
    {% endfor %}
    {% endif %}
  {% if item.description is defined %}Description = "Backup all regular filesystems, determined by filesystem type."
  {% endif %}
  {% if item.options.include is defined %}Include {
    Options {
      {{ item.options.include }}
    }{% endif %}

    {% if item.options.exclude_dir_containing is defined %}{% for exclude_dir in item.options.exclude_dir_containing %}Exclude Dir Containing = {{ exclude_dir }}
    {% endfor %}
    {% endif %}

  }
  # Things that usually have to be excluded
  # You have to exclude /var/lib/bareos/storage
  # on your bareos server
  {% if item.options.exclude is defined %}Exclude {
    {{ item.options.exclude }}
  }
  {% endif %}
}
